{{#if currentUser}}
  <h4>welcome {{currentUser.username}}</h4>
  <a href="/users/{{currentUser._id}}">My Profile</a>
{{/if}}
<nav>
  <li><form action="/">
        <button>logout</button>
      </form>
  </li>
</nav>

<h1>Feedssss</h1>

<ol>
  {{#users}}
    <h1><a href="/users/{{this.id}}">{{this.fullName}}</a></h1>
    {{#this.posts}}
      <li>{{this.name}}</li>
      <li>{{this.description}}</li>
    {{/this.posts}}
  {{/users}}
</ol>
