
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>P2</title>
  </head>
  <body class="login-backg">
    <header>
      <ul id="dropdown1" class="dropdown-content">
          <li><a href="/users/{{currentUser._id}}">Profile</a></li>
          <li><a href="/users/{{currentUser._id}}/posts">My Post</a></li>
          <li class="divider"></li>
          <li><a href="/">Log out</a></li>
        </ul>

        <div class="navbar-fixed">
          <nav id="nc" class="nav-color">
            <div class="nav-wrapper">
              <a href="/users" id="over" class="left">Cars</a>
              <ul class="right hide-on-med-and-down">
                <!-- <li><a href="/users/signup/">Signup</a></li>
                <li><a href="/users/{{currentUser._id}}">Home</a></li> -->
                <!-- Dropdown Trigger -->
                <li><a class="dropdown-button" href="#!" data-activates="dropdown1">{{currentUser.first_name}}<i class="material-icons right">arrow_drop_down</i></a></li>
              </ul>
            </div>
          </nav>
        </div>
    </header>
    <!-- {{#if currentUser}}
      <h4>welcome {{currentUser.username}}</h4>

    {{/if}} -->


    <div class="container">

      <!-- {{#users}} -->
        <br>
        <h3 id="usern"><a href="/users/{{id}}">{{username}}'s posts</a></h3>
        <div class="row">
          {{#posts}}

              <div class="col s4">
                <!-- <a href="/users/{{id}}">{{username}}</a> -->
                <br>
                <a href="/users/{{../id}}/posts/{{id}}"><img src="{{image}}"></a>

                <br/>
                <a href="/users/{{../id}}/posts/{{id}}">{{name}}</a>
                <br/>
                <!-- <a href="/users/{{user.id}}/posts/{{id}}" class="btn btn-default">Favorite</a> -->
              </div>

          {{/posts}}
        </div>
      <!-- {{/users}} -->
    </div>

  </body>
</html>
