{{#if currentUser}}
  <h4>welcome {{currentUser.username}}</h4>
  <a href="/users/{{currentUser._id}}">My Profile</a>


{{/if}}
<h1>Feed</h1>

<nav>
  <li><form action="/">
        <button>logout</button>
      </form>
  </li>
</nav>
<ol>
  {{#each users}}

    <h1><a href="/users/{{this.id}}">{{this.fullName}}</a></h1>
    <!-- <h3>{{this.email}}</h3> -->

  {{/each}}
</ol>
