{{#if currentUser}}
  <h4>welcome {{currentUser.username}}</h4>
  <a href="/users/{{currentUser._id}}">My Profile</a>
{{/if}}
<nav>
  <li><form action="/">
        <button>logout</button>
      </form>
  </li>
</nav>

<h1>Feedssss</h1>

<ol>
  {{#users}}
    <h1><a href="/users/{{id}}">{{fullName}}</a></h1>
    {{#posts}}
      <li><a href="/users/{{../id}}/posts/{{id}}">{{name}}</a></li>
      <li><a href="#">{{description}}</a></li>
      <!-- <li>{{name}}</li>
      <li>{{description}}</li> -->
      <a href="/users/{{user.id}}/posts/{{id}}" class="btn btn-default">Favorite</a>
    {{/posts}}
  {{/users}}
</ol>
