<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div>
      <a href="/users/{{user.id}}/posts/{{post.id}}/edit" class="btn btn-default">Edit Post</a>
      <h1>Name: {{post.name}}</h1>
      <h3>Description: {{post.description}}</h3>
      <img src="{{post.image}}">
    </div>
    </body>
</html>
